/* ==================================================================
   RESPONSIVE DESIGN STYLESHEET
   [LargeDisplays-1200px, Laptops-992px, Tablets(Portrait)-768px,
   Phones(Landscape)-915px, Phones(Portrait)-600px]
   ================================================================== */

/* ===================================================
   Mobile Devices (Landscape): 915px width
   =================================================== */
@media (max-width: 915px) {  
}

/* ===================================================
   Small Mobiles (Portrait): 768px width
   =================================================== */
@media (max-width: 600px) {

/* ----------------------------------------------------------- */
/* UNDER MAINTAINANCE - MOBILE VIEW */
    #mobile-maintenance {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        background: rgba(0, 0, 0, 0.7); /* transparent dark background */

        justify-content: center;
        align-items: center;

        z-index: 9999;
    }

    .maintenance-box {
        background: white;
        padding: 20px;
        border-radius: 12px;
        text-align: center;
        width: 80%;
        max-width: 350px;

        box-shadow: 0 0 20px rgba(0,0,0,0.3);
    }

    .maintenance-box h2 {
        margin-bottom: 10px;
        color: #ff5722;
    }

    .maintenance-box p {
        color: #333;
        line-height: 1.5;
    }
/* ----------------------------------------------------------------- */
    /* Header Style */
    header{
        height: 70vh;
    }

    .headerMainContainer ul {
        display: flex;
        justify-content: space-evenly;
        li {
            transform: scale(1.2);
            margin: 5px 14px;
        }
    }
    .socialIcons {
        background-color: rgba(255, 255, 255, 0.215);
    }
    #headerContent {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 5rem;
    }
    #headerContentBox {
        font-size: small;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }

    .header-subtitle {
        font-size: larger;
        font-style: italic;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .header-title {
        width: 80vw;
    }

    /* .headerMono{
        display: block;
        font-size: small;
    }
    .header-pipe {
        display: none;
    }
    .header-mono2 {
        margin: 2px 0px;
    } */

    /* .profilePicBoxResponsive {
        position: fixed;
        top: 1rem;
        right: 1rem;
    } */

    #downloadResumeBox {
        margin:5px 19px;
        transform: scale(1.2);
    }

    /* Main Style */
    #profilePicBox {
        order: -1;
    }
    /* #profilePic {
        border-radius: 5px;
    } */

    /* Footer Style */


}