* {
    margin: 0;
    padding: 0;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    background-color: #fff;
}
a {
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0px;
    margin-left: 0px;
}

/* Header Content */
header {
    height: 32rem;
    color: white;
    background-color: rgba(250, 235, 215, 0.245);
    background-image: url("Images/BgImage.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    text-shadow: 2px 2px 4px black;
}
.container {
    height: 18rem;
    margin-left: 20rem;
    ul {
        li {
            list-style: none;
            display: inline;
            padding: 2px 5px;
            margin-left: 0px;
            border: 1px solid black;
            background-color: black;
            border-radius: 5px;
        }
    }
}
.socialIcons {
    height: 3rem;
    margin-top: 10px;
    margin-left: 0px;
}
#headerContent {
    height: 23rem;
    font-size: large;
    display: flex;
    justify-content: left;
    align-items: center;
    h4{
        font-size: large;
    }
    h1{
        font-size: 500%;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    h6{
        font-size: larger;
    }
}
.montserrat {
  font-family: "Montserrat", sans-serif;
}
#printResume {
    background-color: rgb(255, 149, 0);
    font-size: larger;
    padding: 2px 7px;
    margin-bottom: 0px;
    border-radius: 10px;
}


/* Main Content */
main {
    background-color: #d0d0d0;
}
/* Navigation Bar */
#navBar {
    background-color: white;
    border-bottom: 1px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.navMain {
    background-color: white;
    height: 4rem;
    width: 40rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    li{
        font-size: large;
        display: inline;
        a {
            color: black;
        }
    }    
}
.navMain {
    display: flex;
    list-style: none;
    padding: 0;
    li {
        font-size: large;
        margin: 0 1rem;
        a {
            color: black;
            text-decoration: none;
            transition: color 0.3s;
        }
    }
}
.navMain li a:hover {
    color: #ff5722;
}
.navMain li a:active {
    color: #ff5722;
}
.navMain li a.active2 {
    color: #ff5722;
}

/* #profilePicBox {
} */
.profilePic {
    height: 200px;
    width: 200px;
    border: 8px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    padding: 0;
    margin: 0;

    z-index: 2;
    border-image: initial;
    transition: all 0.5s ease 0s !important;
    vertical-align: middle;

    overflow-clip-margin: content-box;
    overflow: clip;
    text-align: center;
    box-sizing: border-box;

    position: absolute;
    left: 44%;
    top: 59%;
}
/* Sections */
.content-section {
    text-align: center;
    display: none;
    padding: 20px;
    background-color: #f4f4f4;
    margin: 20px 0;
    border-radius: 10px;
    div{
        margin: 10px 0px;
    }
    h2{
        text-align: center;
        border-bottom: 1px solid black;
        color: #ff5722;
    }
}
/* active Class-By default Home */
.content-section.active {
    display: block;
}
/* Navigation Section */
/* Home */

/* About */

/* Resume */
.resumeBox {
    width: 100%;
    background-color: rgba(187, 131, 26, 0.21);
    display: flex;
    justify-content: center;
}
.resume {
    width:60%;
    padding: 0px;
    background-color: #f4f4f4;
    border: 2px solid black;
}

/* Projects */
#projectsDiv {
    height: 120rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectContent {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.projectBox {
    height: 100%;
    width: 80%;
    margin: 15px;
}
.projectImage {
    height: 400px;
    width: 80%;
    border: 3px solid black;
    border-radius: 10px;
    transition: all 0.4s ease-in;
}
.projectImage:hover {
    transform: scale(1.2);
}

/* Blog */
.blogContents {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    a{
        color: black;
    }
}
.blogContentsDiv {
    background-color: bisque;
    width: 80rem;
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.blogs {
    color: white;
    height: 20rem;
    width: 20rem;
    border: 1px solid black;
    border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.763);
    display: flex;
    justify-content: right;
    align-items: center;
    h3{
        color: rgb(255, 255, 255);
        background-color: rgb(90, 90, 90);
        border: 1px solid black;
        border-top-left-radius: 20%;
        border-bottom-left-radius: 20%;
        width: 90%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    transition: all 0.3s ease-in;
}
.blogs:hover {
    scale: 1.2;
}
#blog1 {
    background-image: url("Images/blog1.png");
    background-size: cover;
}
#blog2 {
    background-image: url("Images/blog2.png");
    background-size: cover;
}
#blog3 {
    background-image: url("Images/blog3.jpeg");
    background-size: cover;
}
#blog4 {
    background-image: url("Images/blog4.png");
    background-size: cover;
}

/* Contact */
#contactDiv {
    height: 20rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#contactLeft {
    height: 15rem;
    width: 40%;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: rgba(142, 142, 142, 0.412);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
        height: 2rem;
        padding: 3px 15px;
    }
}
#socialIconsDiv {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        width: 100%;
        li {
            display: inline;
            
            a {
                text-decoration: none;
                color: black;
                height: 100%;
                width: 100%;
                padding: 5px;
                margin: 10px;
                border: 1px solid black;
                border-radius: 2px;
            }
        }
    }
}
/* .socialIcon a {
    scale: 1.2;
}
.socialIcon a:hover {
    scale: 1.5;
    color: red;
} */
#contactRight {
    height: 15rem;
    width: 40%;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        height: 2rem;
        padding: 3px 15px;
    }
}
#form {
    height: 11rem;
    scale: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#name {
    width: 80%;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
}
#fname {
    width: 48%;
    margin-left: 0px;
}
#lname {
    width: 48%;
}
#email {
    width: 80%;
}
#massage {
    height: 4rem;
    width: 80%;
}
#submit {
    padding: 2px;
    margin: 5px;
    border-radius: 3px;
}
#submit:hover {
    color: white;
    background-color: black;
}

/* Footer Content */
footer {
    height: 5rem;
    color: white;
    background-color: rgb(0, 15, 54);
    text-align: center;
}
#footerMain {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footerBottom {
    height: 1rem;
    background-color: rgb(0, 9, 31);
    padding: 2px;
}

/* next */

